<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exchangeRatesService" class="rates.services.ExchangeRatesServiceImpl">
		<constructor-arg>
    	    <bean id="exchangeRatesAdapter" class="rates.adapter.ExchangeRatesAdapter"/>    		
    	</constructor-arg>
    </bean>
    
    <bean id="strongerService" class="stronger.services.StrongerServiceImpl">
		<constructor-arg>
    	    <bean id="ratesAdapter" class="rates.adapter.ExchangeRatesAdapter"/>    		
    	</constructor-arg>
    </bean>

    <bean class="exceptions.InternalErrorMapper"/>
	<bean class="exceptions.CurrencyNotFoundMapper"/>

</beans>
